@import '../../../../styles/variables.scss';

.meals_list {
    height: 360px;
    overflow-y: scroll;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    column-gap: 15px;
    row-gap: 15px;

    &__item {
        scroll-snap-align: start;
    }
}
