@import '../../styles/variables.scss';

.button {
    width: 100%;
    height: 49px;
    border-radius: 25px;
    background: #ff8f0b;
    border: none;
    color: $white;
    font-weight: 600;
    margin-top: 25px;
}
