@import '../../../styles/variables.scss';

.notification-popup {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $background;
    z-index: map-get($zIndexes, notification);
    width: calc(100% - 64px);
    border-radius: 20px;

    &__container {
        display: grid;
        grid-template-columns: 25px 1fr;
        align-items: center;
        column-gap: 12px;
        padding: 12px;
        border: 1px solid;
        border-radius: 20px;

        &.success {
            border-color: $green;
        }

        &.error {
            border-color: $red;
        }

        &.warning {
            border-color: $orange;
        }
    }
    &__icon {
        width: 25px;
        height: 25px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__text {
        color: $neutral-gray-900;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
    }

    .error-icon {
        background-image: url('../../../vendor/images/icons/error-icon.svg');
    }

    .warning-icon {
        background-image: url('../../../vendor/images/icons/warning-icon.svg');
    }

    .success-icon {
        background-image: url('../../../vendor/images/icons/success-icon.svg');
    }
}
