$background: #fcfcfc;
$black: #282828;
$orange: #ff8f0b;
$button-active: #ffba50;
$light-gray: #aaa;
$grey: #5e5e5e;
$white: #fff;
$neutral-gray-900: #141c24;
$red: #f05252;
$line: #e9e9e9;
$green: #70b26a;
$button-grey: #f5f5f5;


$zIndexes: (
    header: 10,
    menu: 10,
    map: -1
)
