@import '../../../styles/variables.scss';

.review_form {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__subtitle {
        font-size: 17px;
        font-weight: 500;
        line-height: 23.8px;
        color: $grey;
        padding: 15px 0 15px 0;
    }

    &__input {
        margin-bottom: 15px;
    }

    &__textarea {
        display: flex;
        width: 100%;
        padding: 15px 16px;
        border-radius: 20px;
        border: 1px solid $line;
        font-size: 14px;
        line-height: 19.6px;
        color: black; // Цвет вводимого текста
        resize: none;
        min-height: 147px;
        background: $background;

        &::placeholder {
            color: $light-gray; // Цвет placeholder
        }
    }

    &__link {
        color: $light-gray;
        width: 100%;
        display: flex;
        font-size: 15px;
        font-weight: 500;
        justify-content: center;
        margin: 20px 0 0 0;
    }
}
