@import '../../../styles/variables.scss';

.feature {
    width: 100%;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    &__name {
        font-size: 17px;
        font-weight: 500;
        line-height: 1.4;
        color: $light-gray;
    }
}
