@import '../../styles/variables.scss';

.button_delete {
    position: absolute;
    height: 41px;
    width: 43px;
    border-radius: 50%;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
