@import '../../styles/variables.scss';

.button_delete {
    position: absolute;
    height: 41px;
    width: 43px;
    border-radius: 50%;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

    &__background_white {
        background-color: $white;
    }
    &__background_red {
        background-color: $red30;
    }
    &__background_grey {
        background-color: $button-grey;
    }
    &__icon_close {
        background-image: url(./../../vendor/images/icons/button-delete/close.svg);
    }
    &__icon_edit {
        background-image: url(./../../vendor/images/icons/button-delete/edit.svg);
    }
    &__icon_back {
        background-image: url(./../../vendor/images/icons/button-delete/back.svg);
    }
    &__icon_favorite {
        background-image: url(./../../vendor/images/icons/button-delete/favorite.svg);
    }
    &__icon_favorite_active {
        background-image: url(./../../vendor/images/icons/button-delete/favorite_active.svg);
    }
    &__icon_delete {
        background-image: url(./../../vendor/images/icons/button-delete/delete.svg);
    }
    &__icon_delete_active {
        background-image: url(./../../vendor/images/icons/button-delete/delete_active.svg);
    }
    &_outlined {
        border: 1px solid $red;
    }
}
