@import '../../styles/variables.scss';

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 15px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 27px 48px -23px rgba(28, 39, 49, 0.16);
    background-color: $background;
    z-index: map-get($zIndexes, header);

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    &__buttons {
        position: relative;
        display: flex;
        align-items: center;
    }
    &__icon {
        width: 35px;
        height: 35px;
        cursor: pointer;
    }
    &__favorite {
        position: absolute;
        top: 0;
        left: -55px;
        background-image: url(../../vendor/images/icons/favorite-icon.svg);
        &_active {
            background-image: url(../../vendor/images/icons/favorite-icon-active.svg);
        }
    }
    &__burger {
        background-image: url(../../vendor/images/icons/burger-menu-icon.svg);
    }
    &__basket {
        background-image: url(../../vendor/images/icons/basket.svg);
    }
    &__close {
        background-image: url(../../vendor/images/icons/close-icon.svg);
    }
    &__place {
        display: flex;
        align-items: center;
        &_point {
            width: 30px;
            height: 30px;
            background-image: url(../../vendor/images/icons/navigation.svg);
        }
        &_name {
            font-size: 17px;
            font-weight: 400;
            line-height: normal;
        }
    }
    &__menu {
        width: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: map-get($zIndexes, menu);
        background-color: $background;
        display: flex;
        flex-direction: column;
        padding: 25px 30px 25px 15px;
        &_active {
            left: 0;
        }
    }
    &__upblock {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 192.79px;
        height: 49px;
        background-image: url(../../vendor/images/icons/logo.svg);
    }
    button {
        border: none;
        background-color: transparent;
        padding: 0;
    }
}
