@import '../../styles/variables.scss';

.orderListArticle {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px;
    border: 1px solid $line;
    border-radius: 24px;
    height: 138px;

    &__header {
        display: flex;
        width: 100%;
        padding: 0;
    }

    &__total {
        color: $black;
        font-size: 17px;
        line-height: 23.8px;
        font-weight: 500;
        display: flex;
        padding: 3px 0 7px 5px;
    }

    &__list {
        display: flex;
        justify-content: flex-start;
        gap: 8px;
        flex-wrap: wrap;
        max-height: 100px;
        overflow-y: auto;
        border-radius: 5px;
        padding: 0 0 0 2px;
    }

    &__price {
        color: $black;
    }
}
