@import '../../styles/variables.scss';

.favorites {
    &__error,
    &__empty {
        display: block;
        width: 100%;
        margin: 100px auto;
        text-align: center;
        font-size: 14px;
        color: $orange;
    }
}
