@import '../../../styles/variables.scss';

.popup {
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);

    background-color: $background;
    border-radius: 25px;
    margin: auto;
    padding: 50px 0 55px;
    box-sizing: border-box;

    &_info {
        padding: 30px 0;
        align-items: center;
    }

    &__title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.4;
        margin: 0 auto 30px;

        &_info {
            margin-bottom: 25px;
        }
    }

    &__close {
        position: absolute;
        width: 35px;
        height: 35px;
        top: 40px;
        right: 20px;
        background-color: transparent;
        margin: 0 auto;

        &:before {
            content: '';
            width: 22px;
            height: 2px;
            position: absolute;
            top: 12px;
            left: -4px;
            background: $grey;
            transform: rotate(-45deg);
        }

        &:after {
            content: '';
            width: 22px;
            height: 2px;
            position: absolute;
            top: 12px;
            left: -4px;
            background: $grey;
            transform: rotate(45deg);
        }

        &_info {
            display: none;
        }
    }
}