name: Deploy PR previews

on:
  push:
    branches: [main, master]
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

permissions:
  contents: write
  pull-requests: write

concurrency: ci-${{ github.ref }}

jobs:
  build-deploy-and-preview:
    name: Deploy PR previews
    runs-on: ubuntu-latest
    steps:
      - name: Deploy PR previews
        uses: chvmvd/build-deploy-and-preview-action@v1.2.0
        with:
          type: vite
